<article ng-app="angular_test">
	<header>
		<h1 ng-if="name">Hello, {{name}}</h1>
	</header>
	<% if current_user %>
		<h2>logged in as <%= current_user.full_name %></h2>
	<% end %>	
		<section>
			<form class="form-inline">
				<div class='form-group'>
					<label for="name">name</label>
					<input class="form-control" type="text" name="name" ng-model="name">
				</div>	
			</form>
		</section>	
</article>