<article ng-app="acterra">
	<div ng-view></div>
   <%# @images.each do |image|%>
  <%# image_tag image.picture.url, width: "125" %>
<%# end %>  


	<!-- <div class="row">
  <div class=" col-md-6">
    <div class="">
      <div class="test" style="border:5px white solid; box-shadow: 0px 0px 10px 1px ; height:235px">
        
      </div>
    </div>
    <div class="">
      <div class="test" style="border:5px white solid; box-shadow: 0px 0px 10px 1px ; height:235px"> -->

<!--        <div class="checkbox" ng-repeat="organization in organizations | filter: 'county_name'">
            <label><input type="checkbox" value="">{{ organization.county_name }}</label>
        </div> -->
<!--         <div class="checkbox" ng-repeat="organization in organizations ">
            <label><input type="checkbox" value="">{{ organization.name }}</label>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div id="container" style="height:500px; border:5px white solid; box-shadow: 0px 0px 10px 1px; background: #99cccc;">

    </div>
  </div>

  <form class="col-md-12 test">
    <input class="form-control" type="text" name="" placeholder="Search" ng-model='filter_name'>
  </form>

  <div class="col-md-6">
    <div class="" style="height:500px; border:5px white solid; box-shadow: 0px 0px 10px 1px">
      
    </div>
  </div>

  <div class="col-md-6 test">
    <table class="table table-hover">
      <thead>
        <th>Organization</th>
        <th>County</th>
        <th>Award</th>
      </thead>
      <tbody>
        <tr ng-repeat='organization in organizations | filter: filter_name'>
          <td>{{ organization.name }}</td>
          <td>{{ organization.county_id }}</td>   
        </tr>
        <%# @org.each do |organization|%>
        <tr>
          <td><%# organization.name %></td>
          <td><%# organization.county.name %></td>   
        </tr> 
        <%# end%> 
      </tbody>
    </table>
  </div>
</div> -->
</article>

