
<div class="row">
	<div class=" col-md-6">
		<div class="">
			<div class="test" style="border:5px white solid; box-shadow: 0px 0px 10px 1px ; height:235px">
				
			</div>
		</div>
		<div class="">
			<div class="test" style="border:5px white solid; box-shadow: 0px 0px 10px 1px ; height:235px">
				<div class="checkbox" ng-repeat="county in counties">
					<label><input type="checkbox" value="{{county}}" ng-checked="filter_name" ng-model='filter_name'>{{ county }}</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div id="container" style="height:500px; border:5px white solid; box-shadow: 0px 0px 10px 1px; background: #99cccc;">

		</div>
	</div>

	<form class="col-md-12 test">
		<input class="form-control" type="text" name="" placeholder="Search" ng-model='filter_name'>
	</form>

	<div class="col-md-6">
		<div class="" style="height:500px; border:5px white solid; box-shadow: 0px 0px 10px 1px">
			
		</div>
	</div>

	<div class="col-md-6 test">
		<table class="table table-hover">
			<thead>
				<th>Organization</th>
				<th>County</th>
				<th>Award</th>
			</thead>
			<tbody>
				<tr ng-repeat='organization in organizations | filter: filter_name'>
					<td>{{ organization.org_name }}</td>
					<td>{{ organization.county_name }}</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>
