@import "bootstrap-sprockets";
@import "bootstrap";
.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}
body{
	/*background-color: #C9C7C7 !important;*/
}
.bold{
  font-weight: bold;
}
.nonbold{
  font-weight: normal;
}
#OrgImg{
  width: 100%;
}
.verdana{
  font-family: verdana;
}
.tealfont{
  color: #397B98;
  font-weight: bold;
}
.thin{
	font-weight: 300;
}

/*footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:70px;
   width:100%;
}*/
hr {
    border: 0;
    height: 1px;
    background: #C9C7C7;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}



#awardee{
	margin-bottom: 20px;
}

#awardee-info{
	margin-top: 20px;
}

iframe{
	width: 100% ;
	height: 315px;
}

.section{
	/*background-color: white;*/
	/*border:1px black solid !important;*/
/*	border-radius: 3px !important;
	box-shadow: 0px 0px 10px 1px !important;
	padding: 0 20px 0 20px;
	margin: 0 0 30px 0;*/
}
/*#section1, #section2{
	height:235px;
	padding-left: 10px;
}*/
#container{
	height:465px;
	padding: 5px;
}
#searchbar{
	padding: 0;
}

hr {
	border-top: 1px solid #3A7998 !important;
}

#section3{
	height: 500px;
}
#checkboxes{
	height: 140px;
	width: 447px;
	columns: 10em;
	-moz-column-width: 10em;
  	column-fill: auto;
}
.checkbox{
	height: 15% !important;
	margin: 0 0 0 0 !important;
}

#awardsCheckboxes {
	max-height: 204px;
	width: 168px;
	column-count: 1;
	column-fill: auto;
	-moz-column-width: 168px;
}

.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-alert {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	text-align: left;
}

.alert-success{
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

.alert-notice{
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}


.test{
	margin-bottom:30px;
}



/*.container{
	padding-top: 30px;
}
*/
/*.container{
	padding-top: 30px;
}*/

.container-margin {
	padding-top: 0px;
}

/*body {
	padding-top: 70px;
}*/

#banner_pic {
	height: auto;
	width: 102.7%;
	padding-bottom: 10px;
}

/*FOR FOOTER*/

footer a:link, footer a:visited, footer a:active {
    color: #EDF0E2;
    text-decoration: none;
    margin-top: 25px;
    /*position: fixed;*/
}

#footer-links{
	margin-top: 25px;
}

/*.user-name {
<<<<<<< HEAD


=======
=======
>>>>>>> 1a6c4b8f0d36df4fefeeabdf6847c661e84566a7
>>>>>>> 4b93074c3610af1b19c049d2ecb846f506c87bfa
/*.user-name {
	padding: 0 !important ;
	padding-left: 5px;
	padding-top: 0px !important;
	text-align: center;
a {
	color: grey !important;
	margin: 0 !important;
	padding: 5px!important;
}
a:hover, a:focus {
color: lightgrey !important;
}
}
<<<<<<< HEAD
*/
@media (max-width: 992px) {
	.section{
		margin-bottom: 20px;
	}
	.nav_links{
		display: none;
	}	
}