<div class="container">
	<footer>
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="background-color: #8DA335;">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<p style="font-size: 10px; margin-top: 10px; color: white; font-weight: bold;">Acterra: Action for a Healthy Planet</p>
				<p style="font-size: 10px; margin-top: -10px; color: white; font-weight: bold;">3921 East Bayshore Road, Palo Alto, CA 94303, 650.962.9876</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12" align="center" class="footer_links">
				<p style="font-size: 10px; color: white; font-weight: bold; "><a href="http://www.acterra.org/sitemap/index.html">Site Map</a> | <a href="http://www.acterra.org/privacy/index.html">Privacy</a></p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 pull-right" align="right">
				<p style="font-size: 10px; margin-top: 10px; color: white; font-weight: bold;">©2014 Acterra, a 501(c)(3) nonprofit</p>
				<p style="font-size: 10px; margin-top: -10px; color: white; font-weight: bold;">Last updated 15-July-2014</p>
			</div>
		</div>
	</div>
	</footer>
</div>